/*general*/
body
{
	background-image:url('images/back.jpg');
	padding:0px;
	margin:0px;
	text-align:center;
}

a
{
	text-decoration:none;
}

h1
{
	border:2px solid white;
	border-radius:30px;
}

/*buttons*/
div.buttonHold
{
	width:100%;
	display:block;
	text-align:right;
}

div.button
{
	width:80px;
	padding:2%;
	display:inline-block;
}

img.insta
{
	width:100%;
}

/*opener*/
div.opener
{
	text-align:center;
	width:100%;
	transition:background-image 0.2s ease;
	background-image:url('images/banner.jpg');
	height:400px;
	clear:both;
}

div.opener:hover
{
	background-image:url('images/bannerDark.jpg');
	color:white;
}

h1.name
{
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	line-height:200px;
	font-size:3em;
	border:0px solid white;
}

div.half
{
	color:greenyellow;
	margin:0.5%;
	display:inline-block;
	width:30%;
	border:0px solid black;
	border-radius:20px;
	padding:4%;
	transition: background-color 0.5s ease;
	background-color:darkblue;
	transition: height 0.5s ease;
	transition: width 0.5s ease;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

div.half:hover
{
	width:38%;
	background-color:greenyellow;
	color:darkblue;
}


